<div class="login-body">
  <div id="login-wrapper">
    <img src="assets/layout/images/login-logo.png" alt="omega-layout" />

    <div id="login-container">
      <span class="title">Omega</span>

      <div class="p-grid p-fluid">
        <div class="p-col-12">
          <input
            type="text"
            [(ngModel)]="user.identity"
            autocomplete="off"
            pInputText
            placeholder="Username or Phone"
            [ngClass]="!validIdentity ? 'ng-dirty ng-invalid' : ''"
          />
        </div>

        <div class="p-col-12">
          <input
            type="password"
            [(ngModel)]="user.password"
            autocomplete="off"
            pInputText
            placeholder="Password"
            [ngClass]="!validPassword ? 'ng-dirty ng-invalid' : ''"
          />
        </div>
        <div class="p-col-12 p-md-6">
          <p-checkbox></p-checkbox>
          <span class="remember-me">Remember Me</span>
        </div>
        <div class="p-col-12 p-md-6">
          <a href="#">Forgot Password</a>
        </div>
        <div class="p-col-12">
          <p-button type="button" label="Sign In" icon="pi pi-user" (click)="submit()"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
