<div class="p-fluid">
  <div class="card">
    <h3>Reset Password</h3>
    <!-- old password -->
    <div class="p-field">
      <label for="password">Current Password:</label>
      <input id="password" type="password" pInputText [(ngModel)]="password" (input)="onChange()" />
    </div>

    <!-- new password -->
    <div class="p-field">
      <label for="newPassword">New Password:</label>
      <input id="newPassword" type="password" pInputText [(ngModel)]="newPassword" (input)="onChange()" />
    </div>

    <!-- confirm password -->
    <div class="p-field">
      <label for="confirmPassword">Confirm Password:</label>
      <input id="confirmPassword" type="password" pInputText [(ngModel)]="confirmPassword" (input)="onChange()" />
    </div>

    <div class="p-field">
      <button
        pButton
        pRipple
        type="button"
        label="Change Password"
        class="p-mr-2 p-mb-2"
        [disabled]="!allowPasswordSubmit"
        (click)="submit()"
      ></button>
    </div>
  </div>
</div>
